/* 字體引入 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSSRESET引入 */
@import url(css_reset.css);

/* 基礎設定 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", "Noto Sans TC", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
}


/* 變數設定 */
:root {
    --primary-color: #650300;
    --second-color: #FFFFFF;
    --bg-headfoot: #AA0601;
}

/* #region 通用設定 */

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0px 12px;
}

@media (max-width:992px) {
    .container {
        max-width: 720px;
        /* 因為盒模型加上padding值，所以會是內容的寬度696+左右各12px等於720px */
    }
}

@media (max-width:576px) {
    .container {
        max-width: 372px;
        padding: 0;
    }
}

.p-0{
    padding: 0;
}

.row {
    margin: 0px -12px;
}

.h4 {
    color: var(--primary-color);
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 48px;
}

@media (max-width:567px) {
    .h4 {
        font-size: 24px;
        padding-top: 40px;
        margin-bottom: 24px;
    }
}

.bgc {
    background-color: #FBF2F2;
}

/* #endregion */

/* #region header區塊 */

.h-container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0px 12px;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: var(--bg-headfoot);
    font-size: 20px;
}

.h1 a {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true");
    background-size: cover;
    width: 80px;
    height: 48px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    margin: 16px 0px;
}

.menu a {
    padding: 9px 32px;
}

.menu li:last-child a {
    padding-right: 0px;
}

@media (max-width:767px) {
    .h-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-nav {
        width: 100%;
    }

    .menu {
        margin: 0px -12px;
        flex-wrap: wrap;
    }

    .menu li {
        width: 50%;
        text-align: center;
        border: 1px solid #FFFFFF;
    }

    .menu a {
        padding: 9px 0px;
    }
}

/* #endregion */

/* #region banner */
.banner {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true");
    height: calc(100vh - 80px);
    background-size: cover;
}

@media (max-width:992px) {
    .banner{
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true");
    }
    .b{
        max-width: 1320px;
    }
    
}


.banner-text {
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: var(--primary-color);
}

.series-text {
    font-size: 36px;
}

.slogan {
    font-size: 64px;
    font-weight: bold;
}

.buy {
    margin-top: 10px;
    padding: 6px 12px;
    color: var(--second-color);
    background-color: var(--bg-headfoot);
    font-weight: 500;
}

@media (max-width:576px) {
    .slogan{
        font-size: 24px;
    }
    .series-text{
        font-size: 16px;
    }
    
}

/* #endregion */

/* #region 用專業的心，做專業的事 */

.four-column {
    width: 25%;
    padding: 0px 12px;
    margin-bottom: 80px;
}

.four-card {
    text-align: center;
}

.four-card img {
    max-width: 84px;
    margin-bottom: 18px;
}

.item_title {
    font-size: 24px;
    color: var(--primary-color);
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px;
}

.item_content {
    text-align: left;
}

@media (max-width:992px) {
    .four-column{
        width: 50%; /* 每行兩個 共一個間隔24px， 所以24/2=12 */ 
    }
}

@media (max-width:576px){
    .four-column{
        width: 100%;
        margin-bottom: 40px;
    }
}

/* #endregion */

/* #region 經典系列鏡框 */

.three-column {
    width: 33.333%;
    padding: 0px 12px;
}

.three-card-title {
    padding: 8px 0px 0px 0px;
    margin-bottom: 80px;
}

@media (max-width:992px) {
    .three-column{
        width: 100%;
    }
    .three-card-title {
        font-size: 48px;
        margin-bottom: 40px;
    }
}

/* #endregion */

/* #region 聯名設計鏡框 */

.joint_namebg {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
}

.dd{
    width: 100%;
    margin: 0;
}

.two-column {
    max-width: 50%;
}

.joint_title {
    color: var(--second-color);
}

.join-item {
    padding: 0px 8px;
    background-color: var(--second-color);
    font-style: italic;
    margin-bottom: 80px;
}

@media (max-width:992px) {
    .two-column{
        max-width: 100%;
    }
    .one{
        margin-bottom: 24px;
    }
}

/* #endregion */

/* #region 顧客推薦 */
.customer-card {
    text-align: left;
    box-shadow: 0px 2px 6px #DEE2E6;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.customer img{
    max-width:100%;    
    margin: 0;
}

.customer-reviews {
    padding: 16px;
    height: 205px;

}

.customer-name {
    padding: 16px 16px 8px 16px;
    font-weight: 500;
}

.customer-content{
    margin-bottom: 72px;
    padding: 0px 16px 8px 16px;
}

.date {
    padding: 0px 16px 0px 16px;
    margin-top: auto;
    color: #707070;
}

@media (max-width:992px) {
    .four-column{
        margin-bottom: 24px;
    }
}

/* #endregion */

/* #region 聯絡我們 */
form {
    padding-bottom: 80px;
}

.contact-form {
    max-width: 636px;
    margin: 0 auto;
}

.contact-content {
    margin-bottom: 24px;
    font-size: 20px;
}

@media (max-width:992px) {
    .contact-content{
        font-size: 16px;
    }
}

label,
input,
textarea,
button {
    display: block;
    
}

label {
    margin-bottom: 8px;
}

input {
    width: 100%;
    margin-bottom: 16px;
    border: 1px solid #000000;
    padding: 6px 0px 6px 12px;
}

input::placeholder {
    color: #000000;    
    opacity:0.2;
}

textarea {
    width: 100%;
    margin-bottom: 16px;
    border: 1px solid #000000;
    padding-top: 6px;
    padding-left: 12px;
}

textarea::placeholder {
    color: #000000;    
    opacity:0.2;
}

.form-privacy {
    width: auto;
    display: inline;
}

button {
    padding: 16px 176px;
    margin: 0 auto;
    background-color: var(--bg-headfoot);
    color: var(--second-color);
    margin-top: 48px;
    font-size: 24px;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}

@media (max-width:992px) {
    button{
        padding: 16px 136px;
        font-size: 16px;
    }
}

@media (max-width:576px) {
    button{
        padding: 16px 142px;
    }
}

/* #endregion */

/* #region footer區塊 */

.footer {
    background-color: var(--bg-headfoot);
    color: var(--second-color);
}

.f-container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0px 12px;
}

.f-row1 {
    justify-content: space-between;
    border-bottom: 1px solid #FFFFFF;
    padding-top: 48px;
    padding-bottom: 30px;
}

.footer-menu a {
    padding: 12px 24px;
}

.footer-menu li:last-child a {
    padding-right: 0px;
}

.contact-item {
    align-items: center;
    font-size: 36px;
}

.material-symbols-outlined {
    font-size: 36px;
    vertical-align: middle;
    margin-right: 22px;
}

.social a {
    padding: 0px 16px;
}

.social li:last-child a {
    padding-right: 0px;
}

.social img {
    width: 48px;
}

.f-row2 {
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 32px;
}

.privacy a {
    font-size: 14px;
    padding: 0px 24px;
}

.privacy li:last-child a {
    padding-right: 0px;
}

@media (max-width:767px) {
    .f-container {
        max-width: 720px;
    }

    .f-row1 {
        padding-top: 24px;
        padding-bottom: 20px;
    }

    .footer-menu {
        display: none;
    }

    .contact-item {
        font-size: 16px;
    }

    .material-symbols-outlined {
        font-size: 16px;
        margin-right: 11px;
    }

    .social a {
        padding: 0px 4px;
    }

    .social img {
        width: 24px;
    }

    .f-row2 {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 20px;
        padding-bottom: 24px;
    }

    .privacy {
        flex-direction: column;
        margin-top: 4px;
    }

    .privacy a {
        font-size: 16px;
        padding: 4px 0px;
    }

    .privacy li:last-child a {
        padding-bottom: 0px;
    }

}

/* #endregion */
