/* 寬度設計法  */

/* 用專業的新作專業的事的四個卡片 */
/* 
共有四個，所以一個是25%，但是每個中間都有一點空隙
所以可以用calc來做
每個25%，中間共有三個空隙，每個空隙是24px
三個空隙加起來是72px
再去除以共有四欄
72/4=18
24*2=48
48/3=16
33..%-16

calc的算法就是原有要的寬度，再扣掉中間的空隙
空隙的總寬度再去除以共有幾個在同一行上


 */
.card{
    width: calc(25%-18px);
}

@media (max-width:992px) {
    .card{
        width: calc(50%-12px); /* 每行兩個 共一個間隔24px， 所以24/2=12 */ 
    }
}

@media (max-width:576px){
    .card{
        width: 100%;
    }
}

/* 盡量不使用display:none，當成最後手段 */


/* 斷點設計 */

/* container盡量也需要做斷點 
但也需要依照元素多寡去對不同的區塊設定斷點
可能像是header、footer之類的
*/

/* 可參考主流框架(boostrap之類的) */

/* 
平板：
992px以下就算是平板尺寸
768px是較主流的最小平板尺寸
*/


/* 
平板：
992px以下就算是平板尺寸
768px是較主流的最小平板尺寸
*/

/* 
手機：依需求去決定哪一個斷點，以下兩個斷點都是手機板常用的斷點
767px：適用內容較多的區塊
576px：適用內容較少的區塊，(較常見)，但如果元素太多就會變得很擠
*/

/*
電腦：
993px上：電腦或大螢幕的平板使用
*/

/*
找斷點方式：
1.用檢查器開然後點選x軸的空白，有機會會選到
2.透過加上outline看哪邊會有凸出來的線條
3.每個區塊去慢慢刪，看甚麼時候x軸不見

先找大區塊，再去看區塊哪邊有造成x軸的原因
*/

/*
cursor:pointer -> 滑過去button會出現手的樣式
*/

/*
較不影響排版的小元素/icon(footer_icon)之類可以寫死高度
這次的banner也可以寫死高度(calc:100vh-80)
因為他是重點，讓使用者一進來有一個很明顯的主要範圍
background-image: url()
banner的文字區塊要自己設定width:100%才會達到效果
是因為圖片有設定高度，但是文字區塊只有自己本身的高度，所以不會依照父層的高度去移動到圖片的中間，要設定width:100%才會去對應到圖片的高度

*/

/*
可以用引入的方式，不一定要用link的方式
 */

@import "reset.css";
@import "base.css";

/* 
原生的css變數設定
variables
:root{
--變數名稱
前面加兩個-再寫名稱：屬性;

*/

:root{
    --primary :#aa0601;
    --secondary:#650300;
    --bg-light:#fbf2f2;
}

/*
使用者體驗：按鈕要用一些padding讓使用者可以多一點空間點擊
 */


 .container {
    max-width: 1320px;
    /* 因為盒模型加上padding值，所以會是內容的寬度1296+左右各12px等於1320px */
    margin: 0 auto;
    padding: 0px 12px;
    /* 讓內容不要在縮小時貼齊邊界，透過設計稿的列寬度(24px)去左右各推12px */
}

@media (max-width:922px) {
    .container {
        max-width: 720px;
        /* 因為盒模型加上padding值，所以會是內容的寬度696+左右各12px等於720px */
    }
}


@media (max-width:767px) {
    .container {
        max-width: 372px;
        /* 因為盒模型加上padding值，所以會是內容的寬度348+左右各12px等於1320px */
        padding: 0;
    }
}